{% extends 'layout.html' %}
{% block content %}
<div class="hero-area jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Signup to be Notified</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {% include 'partials/card.html' with title="first card" %}
        </div>
        <div class="col">
            {% include 'partials/card.html' with title="first card" %}
        </div>
        <div class="col">
            {% include 'partials/card.html' with title="first card" %}
        </div>
    </div>
</div>
{% endblock %}